
.Home-logo{
    margin-top: 10px;
    margin-left: 10px;
}

.gray{
    color: #64696D;
}

.orange{
    color: #FF7A00;
}

.welcomeCompany{
    text-align: center;

}

.welcome{
    display: grid;
    align-items: center;
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 120px;
    color: #FF7A00;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.company{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 50px;
    text-align: center;
    
}

.title{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    background-color: #FF7A00;
}

.smile{
    max-width: 800px;
    align-self: center;
    margin-top: 1px;
}

.centerBrief{
    margin-top: 10px;
    font-family: 'Caveat';
    font-size: 30px;
    align-self: center;
    text-shadow: 0px 4px 4px white;
    font-weight: bold;
    
}

.availableFood{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Anton';
    text-align: center;
    font-size: 35px;
    color: white;   
}

.button{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    color: #FF7A00;
}
button:hover{
    background-color: #FF7A00;
    color: white;
}

.brief{
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Caveat';
    line-height: 30px;
    font-size: 20px;
}